header{
    text-align: center;
}
.p1, .row_container{
    text-align: center;
}

footer{
    margin-top: 16%;
}
label{
    font-weight: bold;
    text-align: center;
}

.nav {
    background-color: #ffffff;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%
}
.row_container{
    padding: 15px;
}
.container2{
    text-align: center;
    background-color: #d47070;
}
#p5 {
    position: relative;
    left: 15%;   
}


#p6 {
    position: relative;
    right: 15%;
     
}

.navbar{
    background-color: #d47070;
}